# Директории виртуальных окружений
venv/
.env/
.venv/
env/

# Кэшированные файлы Python
__pycache__/
*.py[cod]

# Файлы настроек IDE
.idea/
.vscode/

# Логи
*.log

# Файлы базы данных
*.sqlite3
*.db

# Файлы конфигурации
.env
