.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #283593;
  padding: 1em;

  &__logo a {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
  }

  &__logout-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1em;
    cursor: pointer;

    &:hover {
      color: #FFEB3B;
    }
  }

  &__nav ul {
    list-style: none;
    display: flex;
    gap: 1.5em;
    margin: 0;
    padding: 0;

    li a {
      color: #fff;
      text-decoration: none;
      font-size: 1em;
      transition: color 0.3s;

      &:hover {
        color: #FFEB3B;
      }
    }
  }

}
